/* body*/
.body {
  font-family: "Roboto", sans-serif;
   color:var(--body-text-color);
   background-color:var(--background-white-color);
    }
  /* header */
  .top-line-body {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em ;
    text-transform: uppercase;
    color: #4d5ae5;
  }
     
  .menu-nav-header {
       flex-direction: row;
       align-items: flex-start;
       padding: 0px;
       gap: 40px;
       color: #434455;
      }
      .list{ list-style: none;
       
      }
     
      .studio-header-portfolio { 
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        flex: none;
        order: 0;
        flex-grow: 0;
        color: #2e2f42 ;
       }  
       .stydio-header-color{
        color: #2e2f42;
      }
      .logo-class-portfolio{

        font-family: "Raleway",sans-serif;
        font-weight: 800 ;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase ;
        color: #4d5ae5;
      }
              /* adress */
      .address-header-address{
        font-style: normal;}
      
     
     .mail-address-header-address {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}
     .tel-address-header-address {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
      }
      .mail-tel-address-header-address{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}
        /* hero */
      .hero-image {
        background: #2E2F42;
      }
      .hero-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
  
     }
      .button {
        background-color: #4D5AE5;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;}
      .button:hover,
      .button:focus {  
        background-color: #404BBF;
     }
        /*cection-1*/
      .cection-1-cection {
      }
     
      .feature-1-feature { 
         
         display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
            
       
      }


         .strategy-our-actions {
           font-family: 'Roboto';
           font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #2E2F42;
          flex: none;
          order: 0;
          flex-grow: 0;
          line-height: 1.2;
          }
          .feature-2-punctuality{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
          }
          .strategy-text-our-actions {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            flex: none;
            order: 1;
            flex-grow: 0;
            }
           
            
                  /*feature-3*/
            .feature-3-diligence{
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               padding: 0px;
               gap: 8px;
                }

                    /*feature-4*/
            .feature-4-technologies {
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               padding: 0px;
               gap: 8px;
                }
                 
             /*section-2*/
            .section-2 {
  }  
            /*what-are-we-doing*/
            .what-are-we-doing {
              text-align: center;
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 700;
              font-size: 36px;
              letter-spacing: 0.02em;
              line-height: 40px;
              line-height: 1.11;
              
              text-transform: capitalize;
              color: #2E2F42;
    }    
    .img-1 {display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
     
      } 
      .rectangle-71 {
        box-sizing: border-box;
        width: 360px;
        height: 300px;
        background: url(2368.jpg);
        border: 1px solid #E7E9FC;
        flex: none;
        order: 0;
        flex-grow: 0;}  
        .img-2 {display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;

      } 

        .img-3{display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0px;
        }   
        /*section-3*/
        .section-our-team {
        background: #F4F4FD;
       
        }
         .our-team-one {
           padding-left: 0;
           font-family: 'Roboto';
           font-style: normal;
           font-weight: 700;
           font-size: 36px;
           line-height: 40px;
           text-align: center;
           line-height: 1.11;
           letter-spacing: 0.02em;
           text-transform: capitalize;
           color: #2E2F42;
         }

          .team-card-one {
           background-color: #FFFFFF;
           margin: 0;
         }

          .ul-our-team-one{
             align-items: center;
             gap: 32px;
             background: #FFFFFF;
             border-radius: 0px 0px 4px 4px;
          }
          .img-mark {
            background: url(man-with-laptop-presenting-something.jpg);
            mix-blend-mode: normal;
            flex: none;
            order: 0;
           flex-grow: 0;}
        .our-team-section  {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
         
          letter-spacing:0.02em;
          color: #2E2F42;
          flex:none;
          order: 0;
          flex-grow:0;}
        
        
            .img-tom {
              background: url(img-2.jpg);
              mix-blend-mode: normal;
              flex: none;
              order: 0;
              flex-grow: 0;}
          
            .frontend-developer-text {
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
             
              letter-spacing: 0.02em;
              color: #434455;
              flex: none;
              order:1;
              flex-grow:0;}
  
        .img-camila {
             background: url(young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair.jpg);
             mix-blend-mode: normal;
             flex: none;
             order: 0;
           flex-grow: 0;} 

         .marketing {
             font-family: 'Roboto';
             font-style: normal;
            font-weight: 400;
             font-size: 16px;
            line-height: 24px;
             text-align: center;
             letter-spacing: 0.02em;
            color: #434455;
            flex: none;
            order: 1;
           flex-grow: 0;}  
   
    .img-daniel {
      background: url(confident-handsome-guy-posing-against-white-wall.jpg);
      mix-blend-mode: normal;
      flex: none;
      order: 0;
      flex-grow: 0;}
   
      /*footer*/
     .footer-class-portfolio{
       background-color: #2e2f42;}
  
    .logo-footer-class-portfolio
    {
      font-family: "Raleway",sans-serif;
      font-weight: 800 ;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase ;
      color: #4d5ae5;

     }
     .footer-text-portfolio{
      font-family: 'Roboto';
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 24px;
      letter-spacing: 0.02em;
      color: #F4F4FD;
     }

   /* ------portfolio ------*/
     
       .body-2{
      
    
    

         font-family: "Roboto",
         sans-serif;
         color:var(--body-text-color);
         background:var(--background-white-color);}
      /*menu-nav-2*/
      .top-line-nav-ul{
         background: #FFFFFF;
         border-bottom: 1px solid #E7E9FC;
         font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em ;
        text-transform: uppercase;
        color: #434455;}
       .menu-nav-ul{
       
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 40px;
          }
      .studio-nav-ula{
        font-family: 'Roboto';
       
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2e2f42 ;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

       .mail-adress-mail{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #434455;}
        .tel-adress-tel{
           font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #434455;}
          /*section-filters*/
          .content-portfolio{
            
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;
            }
            .contacts-address-list-van{
              font-size: 16px;
              line-height: 1.5 ;
              letter-spacing: 0.02em;
              color: #434455;
              }
              .add-re-ss{ font-style: normal;}
             .contacts-address-list {
              font-size: 16px;
              line-height: 1.5 ;
               letter-spacing: 0.02em;
               color: #434455;
              }
          
            .portfolio-btn-list{
              display: flex;
              flex-direction: row;
              align-items: flex-start;
                padding: 12px 24px;
               
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
                flex: none;
                order: 0;
                flex-grow: 0;}

            .ortfolio-button hover, 
            .ortfolio-button:focus{
              color: #FFFFFF }
          .portfolio-button{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5 ;
            letter-spacing: 0.04em;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
             padding: 12px 24px;
             background: #F4F4FD;
             box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            flex: none;
            order: 0;
            flex-grow: 0;
            cursor: pointer;
            }
          
         
          .marketing-text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            color: #4D5AE5;
            flex: none;
            order: 0;
            flex-grow: 0;}
          
          .banking{box-sizing: border-box;
           background: #FFFFFF;
           border: 1px solid #E7E9FC;}
    
      

     
        
      .menu-nav-list{
     
      }
   
           
  .banking-text-five{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;}
  .five-marketing-text{
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;}
  
    .taxi-five-box{
      
      background: #FFFFFF;
      border: 1px solid #E7E9FC;}
 
      
      .box-text-five{
        display: flex;
       flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0px 16px;
      gap: 8px;
       }
      
  .portfolio-button {
    color: #4d5ae5;
    background-color: #F4F4FD;
  }
  
  .portfolio-button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
  }
  
  .portfolio-button:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    }
 
    /*footer-2*/
   
     
  .footer-class-portfolio
    {
   
     background-color: #2E2F42;
     }
       

      .stydio-footer-color{
        color: #f4f4fd;
      }
      .link{ text-decoration: none;}
      .link:hover, .link:focus {
        color: #404bbf;} 
        a:hover {
          color: #404bbf;
        }
        
             /* Focus style for links */
              a:focus {
              color: #404bbf;
              }
          
              :root {
                --primari-font: 'Roboto', sans-serif;
                --secondery-font: 'Raleway', sans-serif;
                --title-text-color: #2E2F42;
                --body-text-color: #434455;
                --accent-color: #e7e9fc;
                --primary-brand-color: #4D5AE5;
                --pressed-state-color: #404bbf;
                --background-section-color: #f4f4fd;
                --background-dark-color: #2e2f42;
                --background-white-color: #ffffff;
            }
            


           

            h1,
            h2,
            h3,
            h4,
            p {position: left 15px;
              
                margin-top: 10;
                margin-bottom: 0;
                padding-left: 0;
            }
            
            ul {
                margin-top: 10;
                margin-bottom: 0;
                padding-left: 0;
            
            }
            
            img {
                display: block;
            }
            
            button {
                display: block;
            
            }
            
            
            
            .container {
                width: 1158px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 15px;
                padding-right: 15px;
            }
            

